.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  max-width: 880px;
  margin: 0 auto;
  padding: 38px 19px 36px;
}

@media screen and (min-width: 584px) {
  .profile {
    justify-content: space-between;
    align-items: start;
    padding: 40px 19px 51px;
  }
}

@media screen and (min-width: 730px) {
  .profile {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
