.edit-button {
  background: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  padding: 0;
  border: 0;
}

.edit-button:hover {
  opacity: .6;
}

@media screen and (min-width: 730px) {
  .edit-button {
    width: 24px;
    height: 24px;
  }
}
