.popup__content {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 26px 20px;
}

@media screen and (min-width: 880px) {
  .popup__content {
    padding: 34px 36px 37px;
  }
}
