.add-button {
  background: none;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 15px 0;
  width: 100%;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.add-button:hover {
  opacity: .6;
}

@media screen and (min-width: 730px) {
  .add-button {
    max-width: 20%;
    padding: 13px 0;
  }
}

@media screen and (min-width: 880px) {
  .add-button {
    width: 150px;
  }
}
