.popup__submit {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  padding: 13px 0;
  margin-top: 18px;
  font-size: 14px;
  line-height: 1.21;
  font-family: "Inter", Arial, sans-serif;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: .8;
}

@media screen and (min-width: 730px) {
  .popup__submit {
    font-size: 18px;
  }
}
