.profile-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 33px;
  width: 100%;
}

@media screen and (min-width: 584px) {
  .profile-details {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 730px) {
  .profile-details {
    max-width: 80%;
    margin: 0;
    padding-right: 19px;
  }
}
