.profile-info__name-button {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

@media screen and (min-width: 584px) {
  .profile-info__name-button {
    justify-content: flex-start;
  }
}
