.profile-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 350px;
}

@media screen and (min-width: 584px) {
  .profile-info {
    text-align: left;
    gap: 10px 21px;
  }
}
